@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$background: #403020;
$border: #5e5135;
$text: #ebd491;
$text-dark: #151517;
$text-light: #eaf5ff;

$key: #676656;

$absent: #5e5135;
$present: #b49f3a;
$correct: #538d4e;
$multiple: #839644;
